---
import Section from "@/components/common/Section.astro";
import Layout from "@/layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import ExternalLink from "@/components/ui/ExternalLink.astro";

export async function getStaticPaths() {
  const works = await getCollection("works");
  return works.map((work) => ({
    params: { slug: work.id },
    props: work,
  }));
}

type Props = CollectionEntry<"works">;

const work = Astro.props;

const {
  industry,
  client,
  year,
  heroImage,
  title,
  images,
  websiteUrl,
  repoUrl,
  about,
  challenge,
  features,
  description,
} = work.data;

const infoItems = [
  { label: "Industry", value: industry ?? "N/A" },
  { label: "Client", value: client ?? "N/A" },
  { label: "Year", value: year ?? "N/A" },
];
---

<Layout
  title=`${title}`
  description={description ?? "Portfolio work by Noge - Nodari Georges"}
>
  <Section padding="pt-10 pb-32 ">
    <div class="mb-10 w-max text-pretty">
      <dl>
        {
          infoItems.map(({ label, value }) => (
            <div class="flex items-center gap-1 uppercase tracking-tighter">
              <dt class="text-black/50 text-sm">{label} :</dt>
              <dd class="text-sm">{value}</dd>
            </div>
          ))
        }
      </dl>
    </div>
    <div class="gap-4 flex flex-col sm:flex-row items-start sm:items-center">
      <img
        src={heroImage}
        alt={`${title} project hero image`}
        class="aspect-square w-full object-contain sm:w-1/2"
        loading="lazy"
      />
      <h1
        class="sm:mt-0 sm:ml-6 text-title-2 font-medium tracking-tighter text-pretty sm:w-1/2"
      >
        {title}
      </h1>
    </div>
  </Section>
  <Section title="about">
    <div class="md:flex">
      {
        about && (
          <div class="">
            <p class="text-medium md:text-justify tracking-tighter font-medium text-pretty md:max-w-3xl">
              {about}
            </p>
            {(websiteUrl || repoUrl) && (
              <div class="flex  gap-6">
                {websiteUrl && (
                  <ExternalLink
                    href={websiteUrl}
                    text="View website"
                    className="mt-4 inline-block text-pretty hover:text-black/40"
                  />
                )}
                {repoUrl && (
                  <ExternalLink
                    href={repoUrl}
                    text="View Repo"
                    className="mt-4 inline-block text-pretty hover:text-black/40"
                  />
                )}
              </div>
            )}
          </div>
        )
      }
    </div>

    <div class="mt-10 grid grid-cols-1 gap-6 md:grid-cols-2">
      {
        images?.map((src, i) => (
          <img
            src={src}
            alt={`${title} image ${i + 1}`}
            class="aspect-square w-full object-contain"
            loading="lazy"
          />
        ))
      }
    </div>
  </Section>
  {
    features && (
      <Section title="Features">
        <div class="md:ml-auto ">
          <ul class="list-disc list-inside space-y-2 md:max-w-3xl md:text-justify">
            {features.map((feature) => (
              <li class="text-medium tracking-tight font-medium text-pretty">
                {feature}
              </li>
            ))}
          </ul>
        </div>
      </Section>
    )
  }

  {
    challenge && (
      <Section title="challenge">
        <div class="">
          <p class="text-medium md:text-justify tracking-tighter font-medium text-pretty md:max-w-3xl">
            {challenge}
          </p>
        </div>
      </Section>
    )
  }
</Layout>
