---
import ExternalLink from "@/components/ui/ExternalLink.astro";
import { connectLinksItems } from "@/const";

const {
  labelColorText = "text-black/75",
  linkColorText = "text-black",
  hoverColorText = "hover:text-black/40",
} = Astro.props;
---

<p class={`text-xsmall tracking-tighter ${labelColorText}`}>Let's connect</p>
<div class="flex gap-8">
  {
    connectLinksItems.map((link) => (
      <ExternalLink
        href={link.href}
        text={link.name}
        className={`${linkColorText} ${hoverColorText}`}
      />
    ))
  }
</div>
