---
import ButtonLink from "@/components/ui/ButtonLink.astro";

const {
  title,
  as = "h2",
  titleClass = "text-title-2",
  class: wrapperClass = "",
  cta,
  ctaExternal = false,
} = Astro.props;
---

<div
  class={`mb-8 flex w-full items-center justify-between gap-4 ${wrapperClass}`}
>
  <div class="min-w-0 flex-1">
    <component is={as} class={`uppercase ${titleClass}`}>
      {title}
    </component>
  </div>

  {
    cta && (
      <ButtonLink href={cta.href} external={ctaExternal} class="uppercase">
        {cta.text}
      </ButtonLink>
    )
  }
</div>
